[Desktop Entry]
Name=Grace
Comment=Numerical data processing and visualisation tool
Comment[pl]=Narzędzie do numerycznej obróbki i wizualizacji danych
Icon=
Exec=xmgrace
Terminal=false
Type=Application
Categories=Motif;Education;Science;X-Plotting;
# vi: encoding=utf-8
